<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
    recusandae voluptatem earum repellendus debitis aliquam cum impedit
    veritatis totam temporibus suscipit similique quis fugiat ea accusantium
    dolor est nostrum itaque, sit molestiae libero vero alias? Ex sed quam minus
    nostrum doloremque esse debitis quo, minima reprehenderit totam quasi neque
    itaque.<br />
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis amet
    excepturi laudantium dolorem vitae animi accusamus? Ullam dolor, amet
    consequatur explicabo assumenda, distinctio quas rerum eaque facere laborum,
    quod ea ad ducimus itaque hic excepturi! Nemo, perspiciatis? Incidunt
    delectus voluptas earum accusamus doloribus, perferendis ipsam, consequuntur
    eos obcaecati architecto facere!
    <br />
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eaque
    assumenda recusandae neque, reprehenderit illo ullam et similique soluta
    enim.
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quis
    nostrum consequatur molestiae quasi? Atque asperiores excepturi eligendi
    accusantium nulla nobis reiciendis, doloremque eos repellendus animi! Earum
    dolorum tenetur impedit.
  </p>
</div>
